{% extends 'base.html' %} <!-- zawieram htmlkę, naszą stronę główną-->
<!-- zawartość main -->
<!-- header -->
{% block header %}
<h1>Biuro podróży "Kulturalni baloniarze"</h1>
{% endblock %}

{% block content %}
<br/>
<div class="news">
    {% for trip in trips %}

    <div class="article-small">
        <div class="articlecontent">
            <img src="{{ url_for('static', filename='pictures/' + trip.image) }}">
            <h2>{{ trip.name }} - {{ trip.city }}</h2>
            <h3>{{ trip.price }} zł</h3>
            <p>{{ trip.description }}</p>
            <a href="{{url_for('trips.tripview', tripID = trip.id)}}" class="black-link">TELEPORTACJA</a>
        </div>
    </div>

    {% endfor %}
</div>

    <a id = "display6">6</a>
    <a id = "display12">12</a>
    <a id = "displayAll">wszystkie</a>


{% endblock %}
