<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='stylesheets/topnavbar.css') }}" rel="stylesheet">

</head>
{% include 'alerts.html' %}
<body>
<div class="topnav" id="myDIV">


    <a href="/">Strona główna</a>
    <a href="/about">O nas</a>
    <a href="/contact">Kontakt</a>
    {% if current_user.is_authenticated %}
    <a href="/favourites?user={{ current_user.id }}">Ulubione</a>
    {% endif %}
    <div class="search-container">
        <form action="{{ url_for('main.search') }}" method="POST">
            {{ form.hidden_tag() }}
            <input name="searched" placeholder="Wyszukaj..." type="text">
            <button type="submit"
                    style=" display: inline-block;
                            padding: 6px 10px;
                            background: #EED90C;
                            color: #fff;
                            text-align: center;"><i class="fa fa-search"></i></button>
        </form>
    </div>
    {% if not current_user.is_authenticated %}
    <a class='logging' href="/register">Rejestracja</a>
    <a class='logging' href="/login">Logowanie</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a class='logging' href="/logout">Wyloguj się</a>
    {% endif %}



</div>


</body>
</html>

