body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 1.5;
	font-family: sans-serif;
	background-color: #FDE87D;
}

a{
	text-decoration: none;
	color: white;
}

.black-link{
    color: black;
    font-weight: bold;
}

.bottomlinks ul{
	list-style: none;
	padding: 0;
	text-align: left;
}

.news img,.sidebar img{
	box-sizing: border-box;
	width: 100%;
}

.articlecontent{
	padding: 1rem;
	background-color: #F2F2F2;
	margin: 1px;
}

.article-small{
	margin-bottom: 1rem;
	margin-left: 1rem;
	background-color: #F2F2F2;
	border: 1px dotted black;
	overflow: hidden;
}

.pins{
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: #f2f2f2;
}

.header{
	background-color: #FDE87D;
	margin-bottom: 1rem;
}

img{
	max-width: 60%;
}

.container{
	display: flex;
	width: 100%;
}

.header{
	box-sizing: border-box;      /*width including margins paddings */
	width:100%;
	text-align: center;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	box-sizing: border-box;
	width:100%;
	text-align: left;
	background-color:rgba(0, 0, 0, 0.96);
	color: white;
}

.news{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.disp_amount{
    height:20px;
    width:20px;
    position: absolute;
    text-align: center;
    color: #fff;
    background: #EED90C;
    border-radius: 8px;
    margin: 5px 0px;
    padding-bottom:2px;
    padding-left:1px;
    padding-right:1px;
}

.disp_amount:hover{
    background: #26a9e0;
}

#disp_6{
    right: 9%;
}
#disp_12{
    right: 7%;
}
#disp_all{
    width: 5%;
    right: 1.2%;
}
/*Desktops*/

@media screen and (min-width: 831px){
	.container{
		flex-wrap: wrap;
	}
	.news{
		box-sizing: border-box;
		flex:3;                  /* news occupies 2/3 of width n sidebar 1/3 of width */
		margin-right: 1rem;
	}
	.
	{
		box-sizing: border-box;
		flex:1;
	}
	.article-small{
        display: flex;
        max-width: 600px;
        max-height: 800px;
        flex-basis: calc(33.3333% - 20px);
        flex-grow: 1;
        flex-shrink: 1;
        margin: 10px;
	}

}


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
}
.row {
  display: flex;
}