body{
	background-color: #FDE87D;
}

#container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h2{
    margin-top: 20px;
    font-size: 44px;
    text-align: center;
}

#topbar{
    background-color: white;
    color: black;
    padding: 10px;
    margin: 20px;
    height: 300px;
}

#photo{
    float: left;
    padding: 20px;
    width: 50px;
    text-align: left;
    border-right: 2px dotted black;
}

#opis{
    float: left;
    padding: 20px;
    width: 760px;
    font-size: 16px;
    text-align: right;
}

#info{
    background-color: white;
    padding: 20px;
}

.fav{
    width:100px;
    float: right;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    border: none;
    background-color: #EED90C;
    color: #fff;
}

.fav:hover {
      background: #26a9e0;
}