{% extends 'base.html' %}

{% block header %}
<h1>Obserwowane wycieczki</h1>
{% endblock %}

{% block content %}
<br/>
<div class="news">
    {% for trip in trips %}

    <div class="article-small_notindex">
        <div class="articlecontent">
            <img src="{{ url_for('static', filename='pictures/' + trip.image) }}">
            <h3 class="price">{{ trip.price }} <sup style="font-size:10px"><u>PLN</u></sup></h3>
            <h2>{{ trip.name }}</h2>
            <h3 class="con_cit">{{ trip.country }} - {{ trip.city }}</h3>
            {% for i in range(0, trip.stars) %}
            {% if i % 2 == 0 %}
            <i class="fa fa-star" id="star"></i>
            {% elif loop.last and i % 2 != 0 %}
            <i class="fa fa-star-half" id="star"></i>
            {% endif %}
            {% endfor %}
        </div>
        <a class='tripurl' href="{{url_for('trips.tripview', tripID = trip.id)}}"></a>
    </div>
    {% endfor %}
</div>

{% endblock %}