<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='stylesheets/trip.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="container">
        <h2>Witaj na wycieczce do {{city}}!</h2>
        <div id="topbar">
            <div id="photo">
                tu bedzie zdj
            </div>
            <div id="opis">
                {{description}}
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="info">
            Data rozpoczęcia wycieczki: {{date_start}}</br>
            Data zakończenia wycieczki: {{date_end}}</br>
            Całkowity koszt wycieczki: {{price}} zł
        </div>
    </div>
</body>
</html>