<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', filename='stylesheets/trip.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'alerts.html' %}
<body>
    <div id="container">
        <h2>Witaj na wycieczce do {{ trip.city }}!</h2>
        <div id="topbar">
            <div id="photo">
                <img src="{{ url_for('static', filename='pictures/' + trip.image) }}" width="200" height="280">
            </div>
            <div id="opis">
                {{ trip.description }}
            </div>
        </div>
        <div style="clear:both;"></div>
        <div id="info">
            <h3>Zachęcamy do kupna naszej wycieczki! Gwarantujemy świetną zabawę! :)</h3>
            {% if current_user.is_authenticated and current_user.is_following(trip.id) %}
            <form action="{{ url_for('trips.unfollow', tripID = trip.id) }}" method="POST">
              <button class="fav" type="submit"><b><i class="fa fa-heart-o" style="margin:2px"></i><br/>Usuń z ulubionych</b></button>
            </form>
            {% else %}
            <form action="{{ url_for('trips.follow', tripID = trip.id) }}" method="POST">
                <button class="fav" type="submit"><b><i class="fa fa-heart" style="margin:2px"></i><br/>Dodaj do ulubionych</b></button>
            </form>
            {% endif %}
            Data rozpoczęcia wycieczki: {{ trip.date_start }}</br>
            Data zakończenia wycieczki: {{ trip.date_end }}</br>
            Całkowity koszt wycieczki: {{ trip.price }} zł
        </div>



    </div>
</body>
</html>